<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
    <title>Benemaint</title>
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/JB")

</head>
<body id="autoindexbody">
    @RenderBody()
    <div class="modal fade in" id="dialogIndex" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="font-size: 1.3em;">Validation Error</h4>
                </div>
                <div class="messageBody">
                    <br />
                </div>
                <div class="modal-footer" style="border-top-color: currentColor; border-top-width: 0px; border-top-style: none;">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size: .8em;">Close</button>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
